  <nav class="navbar navbar-expand navbar-light navbar-asb justify-content-between mb-5">
    <div class="navbar-brand">
      <img src="assets/asb_3.png" width="60" height="60" class="d-inline-block align-top" alt="ASB-Logo">
      Osterwiese 2020
    </div>

    <form class="form-inline">
      <span class="navbar-text mr-2">
        {{ time | date: 'HH:mm:ss / dd.MM.yyyy' }}
      </span>
      <img src="/assets/cloud-download.svg" alt="connected" width="32" height="32" *ngIf="connected" />
      <button class="btn btn-outline"><img src="/assets/gear.svg" alt="" width="32" height="32" title="Settings">
      </button>
    </form>
  </nav>

  <div class="w-100 mb-5" *ngFor="let fahrzeugRow of fahrzeugRows">
    <h2>{{fahrzeugRow.title}}</h2>
    <app-fahrzeug-row class="w-100" [fahrzeuge]="fahrzeugRow.fahrzeuge"></app-fahrzeug-row>
  </div>
