<div class="perspective-container vw-100 vh-100">
  <div class="flip-card-container" [class.show-back]="showBackside" (click)="toggle()">
    <div class="flip-card-front bg-asb">
      <div class="container-fluid vh-100">
        <app-dashboard></app-dashboard>
      </div>
    </div>
    <div class="flip-card-back">
      <div class="w-100 vh-100 bg-asb">
        <div class="row vh-100">
          <div class="col-5">
            SD
          </div>
          <div class="col-7 bg-danger">
            Map
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

